h1 {
    text-align: center;
    color: #1976d2;
}

h2 {
    text-align: center;
}

.button-get-all-issues {
    display:flex;
    justify-content: center;
}

.big-section {
    margin-top: .5em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .5em;
}

.issue-type-section Button {
    margin: .5em 0;
}

.review-type-section Button {
    margin: .5em 0;
} 

.highlight-type-section Button {
    margin: .5em 0;
}

.query-date-posted-section Button {
    margin: .5em 0;
}

.query-date-issued-section Button {
    margin: .5em 0;
}

.button-last-24 {
    margin-right: .5em;
}

/* .issue-type-section select, .review-type-section select, .highlight-type-section select {
    margin-right: .5em;
}

/* table {

} */

thead {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(25, 118, 210);
}

.tableBody {
    display: flex;
    justify-content: space-evenly;
}

/* .tableBody {
    display: flex;
    justify-content: center;
} */