h1 {
    margin-bottom: 0.8em;
}

.schedule-meetings-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8em;
}

.schedule-meetings-table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

tr {
    display: flex;
    justify-content: space-evenly;
}

td {
    width: 300px;
    text-align: center;
}

th {
    width: 300px;
}

label {
    margin-left: 10px;
}