.button {
    display: flex;
    justify-content: center;
}

.anonymous-view-meetings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8em;
}

.anonymous-meetings-table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}